
    <div class="container">
<section class="text-center">
    {{ $sites := .Site.Params.cta.home }}
    {{ if not .Page.IsHome  }}
        <!-- some other setting -->
    {{ end }}

    {{ range $id := $sites }}
        {{ with index $.Site.Data.social_master $id }}
            {{ $master := . }}
            {{ with index $.Site.Params.social $id }}
                {{ $username := . }}
                {{ $icon := $master.icon | default (print "fab fa-" $id)  }}

                {{ if eq $id "whatsapp" }}
                    {{ $phone := . | replaceRE "\\+|\\(|\\)| " "" | querify "phone" }}
                    {{ $source := $.Permalink | querify "source" }}
                    {{ $text := printf "Hi, I was just looking at %s. I wanted to send you this message:" $.Permalink | querify "text" | replaceRE "\\+" "%20" }}
                    {{ $username = printf "%s&%s&%s" $phone $text $source }}
                {{ end }}

                <a href="{{ printf $master.link $username }}" target=_blank><i class="{{ $icon }} social-icon" aria-hidden="true"></i> {{ $master.name }}</a>&nbsp;
            {{ end }}
        {{ end }}
    {{ end }}
</section></div>
